

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
    }
    &__btn {
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    &__btn-menu {
        display: none;
    }
}

.menu {
    padding-right: 35px;
    &__list {
        display: flex;
    }
    &__list-item {
        padding-right: 15px;
        padding-left: 35px;
        cursor: pointer;
    }
    &__list-link {
        @extend %font-monserat;
        line-height: 22px;
        color: $base_text_color;
        padding-bottom: 4px;
        position: relative;
    }
    &__list-link--active {
        &::after {
            content: '';
            background-color: rgba(54, 56, 56, 1);
            height: 2px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}

.logo {
    margin: 0 auto;
}

